<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Lisää työntekijä</title>

<div class="container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/frontpage">Etusivu</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/animal_records">Eläintietokanta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_animal">Lisää asukas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_user">Lisää käyttäjä</a>
          </li>
        </ul>
    </nav>

    <!-- Search animal -->
    <form action="/search_animal" method="POST">
        <div class="form-group col-3" style="color: red;">
            {% if not animal_found %}
                <p><strong>Eläintä ei löydy tietokannasta!</strong></p>
            {% endif %}
        </div>
        <div class="form-group col-3">
            <label for="name">Hae eläin</label>
            <input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="32" required>
        </div>
        <div class="form-group col-3">
            <button type="submit" class="btn btn-primary">Hae</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </div>
    </form>

    <!-- Basic information table -->
    <div class="form-group">
        <label for="info"><b>Perustiedot</b></label>
        <table class="table table-striped" id="info">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Laji</th>
                    <th>Sukupuoli</th>
                    <th>Syntymäaika</th>
                    <th>Alkuperä</th>
                    <th>Ruokavalio</th>
                    <th>Hoitaja</th>
                    <th>Diagnoosit</th>
                    <th>Kuolinpäivä</th>
                </tr>
            </thead>
            <tbody>
                {% if animal_data %}
                    <tr>
                        <td>{{ animal_data[1] or '-' }}</td>
                        <td>{{ animal_data[2] or '-' }}</td>
                        <td>{{ animal_data[3] or '-' }}</td>
                        <td>{{ animal_data[4] or '-' }}</td>
                        <td>{{ animal_data[5] or '-' }}</td>
                        <td>{{ animal_data[6] or '-' }}</td>
                        <td>{{ animal_data[7] or '-' }}</td>
                        <td>{{ diagnoses[0] or '-' }}</td>
                        <td>{{ animal_data[8] or '-' }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="col">
        {% if animal_data %}
            <a href="/create_record"><b>Lisää hoitokirjaus</b></a>
        {% endif %}
    </div>
    <br>

    <!-- Medical records --> 
    <div class="form-group">
        <label for="record"><b>Hoitokirjaukset</b></label>
        <table class="table table-striped" id="record">
            <thead>
                <tr>
                    <th>Pvm</th>
                    <th>Kirjaaja</th>
                    <th>Kirjaus</th>
                </tr>
            </thead>
            <tbody>
                {% if records %}
                    {% for record in records %}
                    <tr>
                        <td>{{ record[0] or '-' }}</td>
                        <td>{{ record[1] or '-' }}</td>
                        <td>{{ record[2] or '-' }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
